<a href="{{ routes.collections_url }}/engine-performance">Engine Performance</a>
<a href="{{ routes.collections_url }}/turbo-upgrades">Turbo Upgrades</a>
<a href="{{ routes.collections_url }}/exterior-styling">Exterior Styling</a>
<a href="{{ routes.collections_url }}/interior-accessories">Interior Accessories</a>
<a href="{{ routes.collections_url }}/maintenance">Maintenance</a>
<a href="{{ routes.collections_url }}/garage-gear">Garage Gear</a>
